* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* font-family: 'Libre Baskerville', serif; */
}

:root {
  --logo-rs: coral;
  --logo-go: cornflowerblue;
  --logo-sh: gainsboro;
  --logo-js: yellow;
  --logo-ts: dodgerblue;
  --logo-py: dodgerblue;
  --logo-cc: royalblue;
  --logo-c: cornflowerblue;
  --logo-lua: deepskyblue;
  --logo-react: deepskyblue;
  --logo-deb: deeppink;
  --logo-ubu: tomato;
  --helix: mediumpurple;
}

:root[data-theme='dark'] {
  --bg-primary: #101010;
  --bg-secondary: #080808;
  --bg-highlight: #202020;
  --bg-shadow: #000000;

  --fg-primary: #b0b0b0;
  --fg-secondary: #808080;
  --fg-tertiary: #505050;
  --fg-accent: darkorange;

  --border-primary: #282828;

  --logo-opacity: 0.6;
}

:root[data-theme='light'] {
  --bg-primary: #e0e0e0;
  --bg-secondary: #c0c0c0;
  --bg-highlight: #f0f0f0;
  --bg-shadow: #404040;

  --fg-primary: #202020;
  --fg-secondary: #404040;
  --fg-tertiary: #606060;
  --fg-accent: chocolate;

  --border-primary: #a0a0a0;

  --logo-sh: #606060;
  --logo-js: gold;
  --logo-opacity: 1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-primary);
  transition: background-color 0.3s ease-in;
}

#root {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  transition:
    background-color 0.3s ease-in,
    color 0.3s ease-in;
  /* border: 1px solid red; */

  nav {
    width: 100%;
    height: 52px;
    display: flex;
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--border-primary);

    #nav-left {
      height: 100%;
      width: 100%;
      padding: 8px;
      background-color: var(--bg-secondary);
      transition:
        background-color 0.3s ease-in,
        color 0.3s ease-in;
      border-right: 1px solid var(--border-primary);

      span {
        color: var(--fg-secondary);
      }
    }

    #nav-right {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      div {
        height: 100%;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border: 1px solid yellow; */

        span {
          color: var(--fg-tertiary);
          /* temporarily hide the icons whose functionality has not yet been implemented. */
          &.hidden {
            display: none;
          }
        }
      }
    }
  }

  header {
    width: 100%;
    height: 25vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid slateblue; */
    /* border-bottom: 1px solid #202020; */

    h1 {
      width: 100%;
      text-align: center;
      font-family: 'EB Garamond', serif;
      font-size: 2.4rem;
      font-weight: normal;
      padding-bottom: 1rem;
      /* border: 1px solid pink; */
    }

    h2 {
      /* border: 1px solid pink; */
      span {
        color: var(--fg-secondary);
        font-weight: normal;
      }

      #cursor {
        font-family: 'EB Garamond', serif;
        font-size: 1.8rem;
        animation: blinkingCursor 1s step-end infinite;
      }
    }
  }

  .ticker {
    width: 100%;
    overflow: hidden;
    /* padding: 0; */
    /* border: 1px solid red; */

    .track {
      /* border: 1px solid blue; */
      width: max-content;
      min-width: 200%;
      gap: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      /* width: max-content; */
      /* gap: 3rem; */
      animation: scroll 60s linear infinite;

      span {
        font-size: 1.5rem;
        font-weight: normal;
        font-family: 'EB Garamond', serif;
        color: var(--fg-tertiary);
        white-space: nowrap;
        opacity: var(--logo-opacity);
        filter: grayscale(0.75);
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: scale(1.6);
        }
      }

      &.reverse {
        /* border: 1px solid blue; */
        margin-top: 1rem;
        animation: scrollReverse 60s linear infinite;

        span {
          font-size: 2.4rem;
        }
      }

      &:hover {
        animation-play-state: paused;
      }
    }
  }

  .accordion {
    margin-top: 3rem;
    width: 80%;
    /* border: 1px solid hotpink; */

    .item {
      border-bottom: 1px solid var(--border-primary);

      &.active {
        .header {
          color: var(--fg-tertiary);
        }
      }

      .header {
        padding: 1rem 0rem;
        cursor: pointer;
        font-family: 'EB Garamond', serif;
        font-size: 1.5rem;
        /* border: 1px solid pink; */
        transition: background-color 0.3s ease-in-out;
        &:hover {
          background-color: var(--bg-highlight);
        }

        .plus {
          padding: 0 1rem;
          color: var(--fg-tertiary);
          /* border: 1px solid blue; */
        }
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        .body {
          padding-bottom: 1rem;
          transition: background-color 0.3s ease-in-out;
          &:hover {
            background-color: var(--bg-highlight);
          }
          p {
            padding: 1rem;
            /* font-style: italic; */
            text-indent: 2rem;
            font-family: 'EB Garamond', serif;
            font-size: 1.4rem;
            /* color: var(--fg-secondary); */

            .lead {
              color: var(--fg-accent);
            }
            &.showcase {
              text-indent: 0;
              text-align: center;
              .nano-shot {
                width: 60%;
                margin: 32px 20%;
                border: 1px solid var(--fg-tertiary);
                overflow: hidden;
                border-radius: 8px;
                box-shadow:
                  0 0 8px var(--bg-shadow),
                  0 0 16px var(--bg-shadow),
                  0 0 32px var(--bg-shadow);
              }
              a {
                color: var(--fg-accent);
                &:visited {
                  color: var(--logo-ubu);
                }
              }
            }
            .contact {
              color: var(--fg-accent);
            }
            a {
              font-size: 1.1rem;
              font-style: italic;
              color: var(--fg-primary);
              &:visited {
                color: var(--fg-tertiary);
              }
            }
          }
          .showcase-separator {
            width: 60%;
            margin: 32px auto;
            height: 1px;
            background-color: var(--fg-tertiary);
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 0 0 0;
    color: var(--fg-secondary);
    border-top: 1px solid var(--border-primary);

    p {
      width: 100%;
      text-align: center;
      font-size: 1rem;
      font-style: italic;

      .love {
        color: var(--fg-accent);
        transform: translateY(6px);
        font-variation-settings: 'FILL' 1;
      }

      .author {
        color: var(--fg-primary);
      }

      .helix {
        color: var(--helix);
      }
    }
  }
}

@keyframes blinkingCursor {
  50% {
    opacity: 0;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollReverse {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.material-symbols-outlined {
  /* border: 1px solid green; */
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@media (orientation: landscape) {
  #root {
    max-width: 960px;
  }

  .nano-shot {
    max-width: 200px;
    display: inline-block;
  }
}
